<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Madlibs</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
  <h1>Madlibs</h1>
  <form action="/story">
    {% for word in words %}
      <label for="{{word}}">{{words.get(word)}}</label>
      <input type="text" id="{{word}}" name="{{word}}">
      <br>
    {% endfor %}
      <input type="text" name="story" value="{{id}}" class = "hidden">
    <button type = "submit">Submit</button>
  </form>
</body>
</html>